body {
    background: #F0F0F0;
    display: flex;
}

body div {
    margin-right: 50px;
}

button {
    color: #777;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-normal {
    border-radius: 4px;
    background: linear-gradient(134deg, #FFF -26.79%, #D1D1D1 230.75%);
    box-shadow: 0px 0px 0px 0px #FFF inset, 2px 8px 24px 0px rgba(0, 0, 0, 0.12);
    border: none;
    width: 96px;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
}

.btn-normal:hover {
    border: 2px solid #0065FF;
    box-shadow: 0px 2px 0px 0px #FFF inset, 2px 8px 24px 0px rgba(0, 0, 0, 0.16);
}

.btn-active {
    background: #FFF;
    border: 2px solid #ccc;
    box-shadow: 3px 3px 7px 0px rgba(156, 156, 156, 0.48) inset, -3px -3px 7px 0px #FFF inset;
}

.container-1 {
    position: relative;
    display: inline-block;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 30%;
    transform: translateY(-30%);
  }

.search-input {
    padding: 10px 15px;
    padding-left: 50px !important;
    border-radius: 100px;
    border: none;
    background: #FFF;
    box-shadow: 3px 3px 7px 0px rgba(156, 156, 156, 0.48) inset, -3px -3px 7px 0px #FFF inset;
    color: #777;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.toggle {
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: 34px;
  }
  
  /* Стили для скрытого чекбокса */
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Стили для слайдера-ползунка */
  .slider {
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 10px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .slider-btn {
    height: 26px;
    width: 26px;
    background: white;
    display: block;
    z-index: 9999999;
    position: absolute;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s;
  }

.container-3 {
    display: flex;
    align-items: center;
}

.slider-text {
    margin-left: 16px;
    color: #777;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}